/* ==========================================================================
   Colours
   ========================================================================== */
/* ==========================================================================
   Base styles
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'italian_plate_no1_expandedRg', sans-serif;
  font-size: 62.5%;
  color: #3f384c;
}

body {
  background: #f3f0ec;
  position: reletive;
  font-size: 14px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

::-moz-selection {
  background: #f3e9ff;
  text-shadow: none;
}

::selection {
  background: #f3e9ff;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  display: inline-block;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* ==========================================================================
   Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: 'italian_plate_no1_expandedXBd', sans-serif;
  font-size: 3.1rem;
  line-height: 4rem;
  margin-bottom: 16px;
  color: #4a0983;
}

h2 {
  font-family: 'italian_plate_no1_expandedBd', sans-serif;
  font-size: 2.5rem;
  line-height: 3.2rem;
  margin-bottom: 16px;
}

h3 {
  font-family: 'italian_plate_no1_expandedBd', sans-serif;
  font-size: 2.1rem;
  line-height: 2.8rem;
}

h4 {
  font-family: 'italian_plate_no1_expandedRg', sans-serif;
  font-size: 1.9rem;
  line-height: 2.6rem;
}

h4 span {
  font-family: 'italian_plate_no1_expandedXBd', sans-serif;
}

h5 {
  font-family: 'italian_plate_no1_expandedRg', sans-serif;
  font-size: 1.7rem;
  line-height: 2.4rem;
}

h5 span {
  font-family: 'italian_plate_no1_expandedXBd', sans-serif;
}

p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 0px;
  color: #3f384c;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
button {
  cursor: pointer;
  font-family: 'italian_plate_no1_expandedBd', sans-serif;
  font-size: 1.5rem;
  width: 100%;
  display: block;
  border-radius: 12px;
}

.primary-btn {
  background: #8223fa;
  border: none;
  margin-top: 32px;
  padding: 16px 24px;
  color: #ffffff;
}

.secondary-btn {
  background: #ffffff;
  height: 48px;
  padding: 8px 24px;
  color: #8223fa;
  border: 2px solid #8223fa;
}

.tertiary-btn {
  border: none;
  background: none;
  height: 48px;
  margin-top: 8px;
  padding: 8px 24px;
  color: #8223fa;
}

.secondary-btn-white {
  border: none;
  background: none;
  height: 48px;
  padding: 8px 24px;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.tertiary-btn-white {
  border: none;
  background: none;
  height: 48px;
  margin-top: 8px;
  padding: 8px 24px;
  color: #ffffff;
}

/* ==========================================================================
   Header
   ========================================================================== */
.brand-title {
  font-family: 'italian_plate_no1_expandedBd', sans-serif;
  max-width: 400px;
  padding-top: 44px;
  opacity: 0;
  color: #4a0983;
  text-align: center;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  font-size: 1.9rem;
  -webkit-animation: fade 1s linear;
          animation: fade 1s linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -2.8s);
          animation-delay: calc(var(--scroll) * -2.8s);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.arrow {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  margin-top: 16px;
  margin-left: 16px;
  background-color: #ffffff;
  border-radius: 12px;
  z-index: 3;
  -webkit-animation: move 1s linear;
          animation: move 1s linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -2.8s);
          animation-delay: calc(var(--scroll) * -2.8s);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.arrow i {
  color: #8223fa;
  font-size: 20px;
}

.mask {
  max-width: 432px;
  height: 24px;
  position: fixed;
  background-color: #f3f0ec;
  margin: auto;
  padding: 0 16px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-animation: scale 1s linear;
          animation: scale 1s linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -2.8s);
          animation-delay: calc(var(--scroll) * -2.8s);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.inverted-border-radius-l {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: #f3f0ec;
  display: inline-block;
}

.inverted-border-radius-l::before {
  content: '';
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 24px;
  border-top-left-radius: 24px;
  -webkit-box-shadow: 0 -24px 0 0 #f3f0ec;
          box-shadow: 0 -24px 0 0 #f3f0ec;
}

.inverted-border-radius-r {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: #f3f0ec;
  float: right;
}

.inverted-border-radius-r::before {
  content: '';
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  right: 0px;
  height: 50px;
  width: 24px;
  border-top-right-radius: 24px;
  -webkit-box-shadow: 0 -24px 0 0 #f3f0ec;
          box-shadow: 0 -24px 0 0 #f3f0ec;
}

/* ==========================================================================
   Content
   ========================================================================== */
.wrapper {
  margin: 0 16px;
}

main {
  max-width: 400px;
  margin: 24px auto;
}

.content-card {
  border-radius: 24px;
  background: #ffffff;
  margin-bottom: 16px;
  overflow: hidden;
}

.content {
  width: 100%;
  text-align: center;
  padding: 24px 24px;
}

.section-title {
  color: #4a0983;
  margin-top: 56px;
  margin-bottom: 24px;
  text-align: center;
}

.brand-mark {
  max-width: 50%;
  margin: 16px 0;
}

.hero-image {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-color: #2980b9;
}

.hero-image img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.article-image {
  width: 100%;
  height: auto;
}

label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  display: inline-block;
  color: #c69afd;
}

input[type='radio'] {
  display: none;
}

label.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #c69afd;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 0;
}

input[type='radio']:checked + .tab-page + label.nav {
  border-bottom: 2px solid #ffffff;
  font-weight: bold;
  color: #ffffff;
}

.content-tabs {
  border-radius: 24px;
  background: #4a0983;
  margin-bottom: 16px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  padding-top: 16px;
  -ms-grid-rows: 48px 1fr;
      grid-template-rows: 48px 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.tab-page > .content {
  background: #4a0983;
  color: #ffffff;
  height: 100%;
  position: relative;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

.tab-page ul {
  text-align: left;
  padding: 0;
  margin-top: 40px;
  list-style: none;
}

.tab-page ul li {
  padding: 16px;
  background: #ffffff;
  margin-bottom: 8px;
  border-radius: 12px;
}

.tab-page ul li p span {
  color: #6c18cb;
  font-family: 'italian_plate_no1_expandedBd', sans-serif;
}

.spend {
  margin-right: 24px;
}

.collect {
  margin-left: 24px;
}

.tab-page {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

input[type='radio'] + .tab-page {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

input[type='radio']:checked + .tab-page {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

input[type='radio']:checked + .tab-page .content > * {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/* ==========================================================================
   Animation
   ========================================================================== */
@-webkit-keyframes scale {
  to {
    height: 78px;
  }
}
@keyframes scale {
  to {
    height: 78px;
  }
}

@-webkit-keyframes move {
  to {
    margin-top: 0px;
    margin-left: 0px;
    background: none;
  }
}

@keyframes move {
  to {
    margin-top: 0px;
    margin-left: 0px;
    background: none;
  }
}

@-webkit-keyframes fade {
  to {
    opacity: 1;
    padding-top: 38px;
  }
}

@keyframes fade {
  to {
    opacity: 1;
    padding-top: 38px;
  }
}
